@page "/"





<BaseMudThemeProvider Theme="currentTheme" />
<MudContainer Class="d-flex justify-center align-center">
    <MudPaper Elevation="1" Class="pa-10" style="text-align:center">
        <MudCard>
            @*<MudCardMedia Class="pa-10" Image="images/bugsmall.png" />*@
            <MudAvatar Image="images/bugsmall.png" Style="height:125px; width:200px; background-color:transparent" Class="ma-2" />

            <MudCardContent>
                <MudText Typo="Typo.h5">The Bug Tracker Project</MudText>
                <MudText Typo="Typo.body2">A Bug Tracker Built From The Ground Up In Blazor</MudText>
                <MudText Typo="Typo.body2">A working demo is available from the left sidebar menu.</MudText>
                <br/>
                <MudText Typo="Typo.body2">Blazor C# PostgreSQL .NET Nginx Entity Framework Ubuntu Server</MudText>
            </MudCardContent>
            <MudCardActions>
                @*<MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>*@
            </MudCardActions>
        </MudCard>

      
   
    </MudPaper>
</MudContainer>





@*<h1>The Bug Tracker Demo Project</h1>

    <p>
        A bug tracker written in C# using the following web technologies:
    </p>

    <ul>
        <li>C# </li>
        <li>Blazor </li>
        <li>.NET 5.0 </li>
        <li>Entity Framework</li>
        <li>PostgreSQL</li>
        <li>C# </li>
        <li>Nginx </li>


    </ul>*@







@*<SurveyPrompt Title="Blazor is awesome!" />*@
@code {

    string email = "FAKE";
    string password = "FAKE";
    protected override void OnInitialized()
    {
        currentTheme = defaultTheme;
    }

    void DarkMode()
    {
        if (currentTheme == defaultTheme)
        {
            currentTheme = darkTheme;
        }
        else
        {
            currentTheme = defaultTheme;
        }
    }

    MudTheme currentTheme = new MudTheme();
    MudTheme defaultTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#272c34"
        }
    };

    MudTheme darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)"
        }
    };
}